.text-center {
  text-align: center;
}

.bordered-input {
  border: solid 0.5px #878787;
  border-radius: 6px;
}

.pl-2 {
  padding-left: 8px;
}

.input-text-color {
  color: #666666 !important;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: end
}

.justify-content-center {
  justify-content: center;
}

.img-size {
  width: 200px;
}

.px-3 {
  padding-right: 12px;
  padding-left: 22px;
}